absl-py==1.0.0
antlr4-python3-runtime==4.8
atari-py==0.2.6
atomicwrites==1.4.0
attrs==21.4.0
backcall==0.2.0
box2d-py==2.3.8
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cloudpickle==1.3.0
colorama==0.4.4
cramjam==2.6.0
cycler==0.11.0
Cython==0.29.28
decorator==4.4.2
EasyProcess==1.1
execnet==1.9.0
fastparquet==0.8.1
fsspec==2022.10.0
future==0.18.2
glfw==2.5.1
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.44.0
gym==0.17.2
hydra-core==1.1.1
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.11.3
importlib-resources==5.6.0
iniconfig==1.1.1
ipdb==0.13.3
ipython==6.4.0
jedi==0.18.1
Jinja2==3.1.1
junit2html==30.0.6
kiwisolver==1.4.2
lockfile==0.12.2
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==2.2.2
moviepy==1.0.0
mujoco-py==2.0.2.2
numpy==1.21.5
oauthlib==3.2.0
omegaconf==2.1.1
opencv-python==4.4.0.42
packaging==21.3
pandas==1.3.5
parso==0.8.3
pickleshare==0.7.5
Pillow==9.0.1
pluggy==1.0.0
proglog==0.1.9
prompt-toolkit==1.0.18
protobuf==3.19.4
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.2.0
pycparser==2.21
pyglet==1.5.0
Pygments==2.11.2
pyparsing==3.0.7
pytest==7.1.1
pytest-forked==1.4.0
pytest-parallel==0.1.1
pytest-timeout==2.1.0
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytz==2022.1
PyVirtualDisplay==1.3.2
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.7.3
simplegeneric==0.8.1
six==1.16.0
tblib==1.7.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.8.1
tensorboardX==1.8
tomli==2.0.1
torch==1.6.0+cu101
torchvision==0.7.0+cu101
tqdm==4.63.1
traitlets==5.1.1
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.1.0
zipp==3.7.0
